aside {
  background-color: #5a5e70ad;
  z-index: 5;

  .aside_container {
    height: 100%;
    width: 26rem;
    padding: 0.7rem 0.8rem;
    background-color: var(--black-main);
    position: fixed;
    top: 0;
    left: 0;

    li {
      min-height: 46px;
      border-radius: 6px;
      cursor: var(--pointer);
      padding: 1.2rem;
      width: 100%;
      gap: 1rem;
      user-select: none;

      p {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      svg {
        height: 1.8rem;
        min-width: 1.8rem;
      }

      &:hover {
        background-color: var(--black-tint-1);
      }
    }

    .aside_container-top {
      height: 100%;
      overflow-y: auto;

      button {
        height: 46px;
        border: var(--border);
        border-radius: 6px;
        cursor: var(--pointer);
        padding: 1.2rem;
        width: 100%;
        gap: 1rem;

        &:disabled {
          cursor: var(--not-allowed);
          opacity: 0.4;
        }
      }

      ul {
        margin: 0.7rem 0;
        gap: 0.7rem;
        overflow-y: auto;
        height: calc(100% - 6rem);

        .no_chat {
          margin-top: 1rem;

          p {
            color: var(--white-tint-1);
            text-transform: capitalize;
            font-style: italic;
            font-weight: normal;
            user-select: none;
          }
        }
      }
    }

    .aside_container-bottom {
      padding-top: 0.7rem;
      border-top: var(--border);
    }

    .close {
      position: absolute;
      top: 1.7rem;
      right: -5rem;
      width: 4.5rem;
      height: 4.5rem;
      border: 2px solid var(--white-main);
      display: none;
      background-color: var(--black-tint-3);
      cursor: var(--pointer);
    }
  }

  @media screen and (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease;
    transition-delay: 0.1s, 0.3s;

    .aside_container {
      left: -100%;
      padding: 1rem;
      max-width: 36rem;
      width: 90%;
      transition: left 0.4s ease;

      .close {
        display: flex;
      }

      .aside_container-top {
        ul {
          height: calc(100% - 7.3rem);
        }
      }
    }
  }
}

.show_aside {
  opacity: 1;
  pointer-events: all;

  .aside_container {
    left: 0;
  }
}
