aside {
  position: sticky;
  top: 0;
  z-index: 5;
  height: 100vh;

  .aside_wrapper {
    height: 100%;
    width: 27rem;
    padding: 0.8rem;
    background-color: var(--black-main);
    gap: 0.8rem;

    .aside_header {
      width: 100%;
      gap: 0.8rem;

      button {
        gap: 0.8rem;
        width: 100%;
        height: 4.4rem;
        padding: 0.3rem 1.1rem;
        border-radius: 0.6rem;
        background-color: var(--black-main);
        border: var(--border);
        color: var(--white-main);

        span {
          font-size: 1.4rem;
        }

        svg {
          font-size: 2rem;
        }

        &:last-child {
          width: 5rem;
        }
      }

      .collapse {
        svg {
          margin-bottom: -0.3rem;
        }
      }
    }

    .aside_body {
      gap: 0.5rem;

      p {
        font-size: 1.1rem;
        font-weight: 600;
        padding: 0 0.8rem;
        color: var(--white-tint-1);
      }

      button {
        padding: 0.3rem 1.3rem;
        height: 4.4rem;
        width: 100%;
        gap: 0.8rem;
        background-color: var(--black-tint-2);
        color: var(--white-main);
        border-radius: 0.5rem;

        span {
          font-size: 1.3rem;
        }

        svg {
          font-size: 1.8rem;
          margin-bottom: -0.2rem;
        }
      }
    }

    .aside_footer {
      margin-top: auto;
      border-top: var(--border);
      padding: 1rem 0 0;
      gap: 0.3rem;

      button {
        gap: 0.8rem;
        width: 100%;
        height: 4.4rem;
        color: var(--white-main);
        padding: 0.3rem 1.3rem;
        border-radius: 0.5rem;
        background-color: var(--black-main);

        span {
          font-size: 1.3rem;
        }

        svg {
          font-size: 1.8rem;
        }

        &:hover {
          background-color: var(--black-tint-2);
        }

        &:disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }

    .close_menu {
      width: 3.5rem;
      height: 3.5rem;
      right: -4rem;
      top: 1.2rem;
      cursor: var(--pointer);
      border: 1px solid var(--white-tint-1);
      border-radius: 0.3rem;
      background-color: var(--white-tint-2);
      display: none;

      svg {
        font-size: 2.3rem;
        color: var(--white-main);
      }
    }
  }

  .aside_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #4b4d5dc3;
    z-index: -1;
  }
}

@media screen and (max-width: 768px) {
  aside {
    position: fixed;
    left: 0;
    width: 100%;
    display: none;

    .aside_wrapper {
      max-width: 35rem;
      width: 95%;

      .close_menu {
        display: flex;
      }
    }

    .aside_overlay {
      display: flex;
    }
  }

  .show_menu {
    display: flex;
  }
}
