footer {
  bottom: 0;
  right: 0;
  width: var(--mx);
  margin-left: auto;
  padding: 1.5rem;
  background: linear-gradient(to bottom, #343541, var(--black-tint-2));

  .footer_container {
    max-width: var(--mx-2);
    margin: 0 auto;

    .form_control {
      position: relative;
      width: 100%;
      height: 45px;
      border-radius: 6px;
      background-color: var(--white-tint-2);

      input {
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
        background-color: transparent;
        padding: 0 1.5rem;
        color: var(--white-main);

        &::placeholder {
          color: var(--white-tint-1);
          letter-spacing: 0.1rem;
        }

        &:disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }

      button {
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: var(--pointer);

        &:disabled {
          opacity: 0.5;
          user-select: none;
        }
      }
    }

    p {
      font-size: 12px;
      text-align: center;
      margin-top: 1rem;
      color: var(--white-tint-1);

      a {
        color: inherit;
        cursor: var(--pointer);
        text-decoration: underline;
      }
    }
  }
  @media screen and (max-width: 768px) {
    border-top: var(--border);

    .footer_container {
      p {
        display: none;
      }
    }
  }
}
