footer {
  bottom: 0;
  right: 0;
  width: var(--mx);
  margin-left: auto;
  padding: 2rem 1.5rem;
  background: linear-gradient(to bottom, #343541, var(--black-tint-2));

  .footer_container {
    max-width: var(--mx-2);
    margin: 0 auto;

    .form_control {
      display: flex;
      align-items: center;
      width: 100%;
      height: 5.5rem;
      padding: 0 1.5rem;
      border-radius: 1rem;
      background-color: var(--white-tint-2);
      box-shadow: 1px 1px 18px -2px rgba(0, 0, 0, 0.2);

      input {
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        background-color: transparent;
        color: var(--white-main);

        &::placeholder {
          color: var(--white-tint-1);
          letter-spacing: 0.1rem;
        }

        &:disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.7rem;
        width: 3.2rem;
        height: 3.2rem;
        cursor: var(--pointer);
        background-color: var(--success-main);
        transition: opacity 0.1s ease, background-color 0.1s ease;

        svg {
          height: 1.6rem;
        }

        &:disabled {
          opacity: 0.5;
          pointer-events: none;
          background-color: transparent;
        }
      }
    }

    p {
      font-size: 11.5px;
      text-align: center;
      margin-top: 1rem;
      color: var(--white-main);
      opacity: 0.7;

      a {
        color: inherit;
        cursor: var(--pointer);
        text-decoration: underline;
      }
    }
  }
  @media screen and (max-width: 768px) {
    border-top: var(--border);

    .footer_container {
      p {
        display: none;
      }
    }
  }
}
